body {
    background-color: antiquewhite;
}
* {
    margin: 0;
    padding: 0;
}
nav ul{
    background-color: black;
    list-style-type: none;
    color : white;
    height : 69px;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img{
    height: 59px;
    padding-right: 8px;
}
nav ul li {
    padding: 0px 8px;
}
a  {
    color: white;
    text-decoration: none;
}
a :visited  {
    color: white;
    text-decoration: none;
}
